/*
You must implement the following breakpoints that will be considered desktop, tablet, and mobile.
 The browser should display a desktop version of the site 
 when the width of the browser window is 992px and above. 
 Tablet view should appear only if the width of the browser window 
 is between 768px and 991px, inclusively. Mobile view should appear 
 only if the width of the browser is equal to or less than 767px.

Your site is very simple. It consists of a page heading and 3 sections 
(all in one row in the desktop view). 
Each section contains some text. 
You can make it dummy text/"lorem ipsum", 
it doesn't matter. How the sections are laid out on the screen 
depends on the width of the browser window. 
(Hint: use media queries discussed in Lecture 23.)
*/

/********** Base styles **********/



/*Layout: In the desktop view (992px and above),
each of the 3 sections should take up equal amount of space on the screen.
As you make the browser window wider or narrower,
each section should become wider or narrower. 
(Hint: use percentages to define width and use the 'float' property. See Lecture 24). */







/* example :
the <p> element will be styled according to class="center" and to class="large": 
<p class="center large">This paragraph refers to two classes.</p> 
*/


/*

Section title region: 
Each section should have a section title region that is 
always positioned at the top right corner of the section no matter the view 
(desktop, tablet or mobile). 
Copy the titles from the mockup illustration (i.e., Chicken, Beef, Sushi) 
or come up with your own. 
(Hint: use relative and absolute positioning and offsets as discussed in Lecture 22.)

Spacing: 
Pay attention to the spacing shown in the mockup illustrations. 
Note the spacing between sections (both horizontal and vertical). 
Note the horizontal spacing between the edges of the section and 
the edges of the browser window.
Also, note the spacing between the dummy text in each section and the edges of the section. 
Lastly, make sure the dummy text is "pushed down" enough so it doesn't overlap 
the section title region. 
(Hint: use margins and padding and use border-box as your box-sizing as discussed in Lecture 19.)

Borders and Colors: 
Each section should have a background color set to some color (of your choosing). 

Set the background color of each section title region to some 
unique color (of your choosing). 
Make sure that the background 
color still allows the user to view the text in the section and 
section title regions. Depending on the color you choose, 
you may want to change the color of the text so it can be easy to read. 

Set a black border on both the section and section title region that is 1px thick. 
Warning: While not specifying borders and colors according to 
the requirements does not hurt your grade so much, 
not doing so will make it much harder for your classmates 
to peer grade the rest of your assignment, possibly resulting in a much lower grade.



*/


/********** Base styles **********/

* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

.text {
  width: 90%;
  height:300px;
  font-family: Helvetica;
  color: rgb(2, 1, 1);
  clear: right;
  
}
.item1{
  float:right;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #547fbe;
  margin-top: 0%;
  padding: 1%;
}

.item2{
    float:right;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #d6d30c;
    margin-top: 0%;
    padding: 1%;
  }

.item3{
    float:right;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #03c90d;
    margin-top: 0%;
    padding: 1%;
  }
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px ) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    margin-left:2%; /*external spacing */ 
    border: 3px solid black;
    background-color: #a19c9c;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px ) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 3px solid black;
    background-color: #a19c9c;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
        
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;

  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;

  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
    float: left;
    border: 3px solid black;
    background-color: #a19c9c;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 3%;
  }
  .col-mm-1 {
    width: 8.33%;
  }
  .col-mm-2 {
    width: 16.66%;
  }
  .col-mm-3 {
    width: 25%;
  }
  .col-mm-4 {
    width: 33.33%;
  }
  .col-mm-5 {
    width: 41.66%;
  }
  .col-mm-6 {
    width: 50%;
  }
  .col-mm-7 {
    width: 58.33%;
  }
  .col-mm-8 {
    width: 66.66%;
  }
  .col-mm-9 {
    width: 74.99%;
  }
  .col-mm-10 {
    width: 83.33%;
  }
  .col-mm-11 {
    width: 91.66%;
  }
  .col-mm-12 {
    width: 100%;
  }
}